@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/poppins/400.css'; 
@import '@fontsource/poppins/600.css'; 
@import '@fontsource/poppins/700.css'; 


:root {
  --background: #212121;
  --foreground: #FFFFFF; 
  --footer-background: #292C36; 
  --button: #558FFF; 
  --text-blue: #4C70EF; 
}

body {
  color: var(--foreground);
  background: var(--background); 
  font-family: 'Poppins', Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
